<p id="notice"><%= notice %></p>

<% if @profile.avatar_url(:thumb).present? %>
  <%= image_tag(@profile.avatar_url(:thumb))  %>
<% else %>
  <%= image_tag('default_thumb.png') %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
