<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar data:</strong>
  <%= @profile.avatar_data %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
