<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Description</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <% if book.image_url(:thumb).present? %>
            <%= image_tag(book.image_url(:thumb))  %>
          <% else %>
            <%= image_tag('default_thumb.png') %>
          <% end %>
        </td>
        <td><%= link_to book.title, book %></td>
        <td><%= list_authors(book) %></td>
        <td><%= book.year %></td>
        <td><%= truncate book.description, length: 300 %>
            <%= link_to 'read more', book %></td>
        <td><%= book.genre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
