<p id="notice"><%= notice %></p>


<div class="container">
  <div class="book__info-container d-flex">
    <% if @book.image_url(:original).present? %>
      <%= image_tag(@book.image_url(:original), class: "book__cover-image")  %>
    <% else %>
      <%= image_tag('default_image.png', class: "book__cover-image") %>
    <% end %>  
    <div class="book-details">
      <h2><%= @book.title %>, <span><%= @book.year %></span></h2>
      <p>by <%= list_authors(@book) %></p>
      <p>Genre: <%= @book.genre %></p>
      <p><%= @book.description %></p>  
    </div>
  </div>

  <h2>Reader Reviews</h2>
  <% if @book.reviews.any? %>
    <span class="book__stars">
      <% format_stars(@book).each do |star| %>
        <i class = "book__star-rating"><%= fa_icon star %></i>
      <% end %>
    </span>
    <p><%= @book.reviews.average(:star_rating).round(1) %> out of 5 stars</p>
  <% else %>
    <p>This book has no reviews yet. Be the first to write a review</p>
  <% end %>

  <% if user_signed_in? %>

    <h4>Write a review</h4>

    <%= form_with model: @review, local: true, class: "book__review-form" do |form|%>
        <%= form.label :star_rating, '1 star' %>
        <%= form.radio_button :star_rating, 1 %>      
        <%= form.label :star_rating, '2 stars' %>
        <%= form.radio_button :star_rating, 2 %>      
        <%= form.label :star_rating, '3 stars' %>
        <%= form.radio_button :star_rating, 3 %>
        <%= form.label :star_rating, '4 stars' %>
        <%= form.radio_button :star_rating, 4 %>
        <%= form.label :star_rating, '5 stars' %>
        <%= form.radio_button :star_rating, 5, checked: true %>
        <%= form.hidden_field :book_id, value: @book.id %>
        <div class="form-group">
          <%= form.label "Title for your review" %>      
          <%= form.text_field :title, id: :content, class: "form-control" %>      
        </div>
        <div class="form-group">
          <%= form.label "Review content" %>      
          <%= form.text_area :content, id: :content, class: "form-control book__review-content-textarea" %>      
        </div>
        <%= form.button "Submit", class: "btn btn-primary" %>    
    <% end %>
  <% else %>
    <p><%= link_to "Login", new_user_session_path %> to write a review</p>
  <% end %>

  <% @book.reviews.each do |review| %>
    <div>
      <span class="book__stars">
        <% review.star_rating.times do |index| %>
          <%= fa_icon "star", class: "book__star-rating" %>
        <% end %>
        <% (5 - review.star_rating).times do |index| %>
          <%= fa_icon "star-o", class: "book__star-rating" %>
        <% end %>
      </span>
      <h4 class="book__review-title"><%= review.title %></h4>
    </div>
    <p>By <%= review.user.profile.name %></p>
    <% review.content.split("\n").each do |paragraph |%>
      <p><%= paragraph %></p>
    <% end %>
  <% end %> 
</div>

